<div  class="container">
    <svg [attr.width]="1000" [attr.height]="1000">
        <ng-container *ngFor="let node of nodes; let i = index; let isLast=last">
            <path *ngIf="!isLast"
            attr.d="M{{getStartPoint(node, i).x}} {{getStartPoint(node, i).y}}
                    C{{getControlPoint1(node, i).x}} {{getControlPoint1(node, i).y}}, 
                    {{getControlPoint2(nodes[i + 1], i + 1).x}} {{getControlPoint2(nodes[i + 1], i + 1).y}}, 
                    {{getStartPoint(nodes[i + 1], i + 1).x}} {{getStartPoint(nodes[i + 1], i + 1).y}}"
            fill="transparent" stroke="white" stroke-dasharray="5,5" stroke-width="5" />
        </ng-container>
      </svg>
    <ng-container *ngFor="let node of nodes; let i = index">
      <app-node 
      [value]="node" 
      [style.left.px]="coordinates(node, i).x" 
      [style.top.px]="coordinates(node, i).y"
      [isSelected]="currentNodeIndex === i"
      [disabled]="isDisabled(i)"
      (next)="goToNextNode($event, i)">
    </app-node>
    </ng-container>
  </div>